html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.19) 0%,
    rgba(14, 14, 14, 0.8) 100%
  );
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.22;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
