:root {
  --main-bg-color: #0d0d0d;
  --secondary-bg-color: #fff2fd;
  --main-txt-color: #ffffff;
  --button-color: #4c00fe;
  --accent-color: #dc56c5;
  --footer-txt-color: #939393;
  

  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
