<main class="main">
  <section class="section">
    <div class="container">
      <ul class="gallery">
        <!-- <li class="gallery__itams">
          <a class="gallery-link" href="">
            <div class="gallary-link__wrap">
              <div class="gallary-link__border"></div>
              <img
                class="gallery-link__img"
                src="./images/Rectangle.jpg"
                alt=""
              />
            </div>

            <h2 class="gallary-link__title">Eurovision 2021 finals!</h2></a
          >
          <p class="gallery__date">2021-05-13</p>
          <a class="gallery__place" href="">
            <svg class="gallery__svg">
              <use href="./images/icon-place.svg#icon-place"></use>
            </svg>
            <span>Palace of Ukraine</span>
          </a>
        </li> -->
      </ul>
    </div>
  </section>
</main>
