<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-btn__close" data-modal-close>
      <svg class="modal-btn__close-icon" width="25" height="25">
        <path
          d="M1.646 32c-0.422 0-0.843-0.16-1.163-0.483-0.643-0.643-0.643-1.685 0-2.328l28.707-28.707c0.643-0.643 1.685-0.643 2.328 0s0.643 1.685 0 2.329l-28.707 28.706c-0.323 0.321-0.744 0.483-1.165 0.483z"
        ></path>
        <path
          d="M30.355 32c-0.422 0-0.843-0.16-1.163-0.483l-28.709-28.706c-0.643-0.643-0.643-1.686 0-2.329s1.685-0.643 2.329 0l28.707 28.707c0.643 0.643 0.643 1.685 0 2.328-0.323 0.321-0.744 0.483-1.163 0.483z"
        ></path>
      </svg>
    </button>
    <img class="modal__img-small" alt="" width="132" />
    <img class="modal__img-big" alt="" width="427" />
    <div class="modal__float">
      <div class="modal__text-block">
        <h3 class="modal__title">Info</h3>
        <p class="modal__text"></p>
      </div>
      <div class="modal__text-block">
        <h3 class="modal__title">When</h3>
        <p class="modal__text"></p>
      </div>
      <div class="modal__text-block">
        <h3 class="modal__title">Where</h3>
        <p class="modal__text"></p>
      </div>
      <div class="modal__text-block">
        <h3 class="modal__title">Who</h3>
        <p class="modal__text"></p>
      </div>
      <div class="modal__prices-block">
        <h3 class="modal__title">Prices</h3>
        <ul class="modal__prices">
          <li class="modal__thumb-item">
            <p class="modal__text">
              <svg class="modal__prices-icon" width="29" height="19">
                <path d="M4.91 1.27h-4.91v29.46h4.91v-29.46z"></path>
                <path d="M17.26 1.27h-4.91v29.46h4.91v-29.46z"></path>
                <path d="M24.699 1.27h-4.91v29.46h4.91v-29.46z"></path>
                <path d="M44.19 1.27h-7.291v29.46h7.291v-29.46z"></path>
                <path d="M9.82 1.27h-2.381v29.46h2.381v-29.46z"></path>
                <path d="M29.46 1.27h-2.381v29.46h2.381v-29.46z"></path>
                <path d="M34.37 1.27h-2.381v29.46h2.381v-29.46z"></path>
              </svg>
            </p>
            <a class="modal__btn modal__link-buy">Buy ticket</a>
          </li>
        </ul>
      </div>

      <li class="modal__thumb-item">
        <p class="modal__text">
          <svg class="modal__prices-icon" width="29" height="19">
            <path d="M4.91 1.27h-4.91v29.46h4.91v-29.46z"></path>
            <path d="M17.26 1.27h-4.91v29.46h4.91v-29.46z"></path>
            <path d="M24.699 1.27h-4.91v29.46h4.91v-29.46z"></path>
            <path d="M44.19 1.27h-7.291v29.46h7.291v-29.46z"></path>
            <path d="M9.82 1.27h-2.381v29.46h2.381v-29.46z"></path>
            <path d="M29.46 1.27h-2.381v29.46h2.381v-29.46z"></path>
            <path d="M34.37 1.27h-2.381v29.46h2.381v-29.46z"></path>
          </svg>
        </p>
        <a class="modal__btn modal__link-buy">Buy ticket</a>
      </li>
    </div>
    <button class="modal__btn modal__btn-more">More from this author</button>
  </div>
</div>
