.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 107px;
  background-image: linear-gradient(136.07deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  ;

  @media screen and (min-width: (768px - 0.02)) {
    width: 151px;
    height: 180px;

    @media screen and (min-width: (1280px - 0.02)) {
      width: 229px;
      height: 193px;
    }

  }

}

.header {
  position: relative;
  padding-top: 80px;

  @media screen and (min-width: (768px - 0.02)) {
    padding-top: 40px;
  }

  background-image: linear-gradient(180deg,
    rgba(13, 13, 13, 0) 0%,
    rgba(14, 14, 14, 0.8) 100%),
  url(../images/mainMob@1x.jpg);
  background-size: 320px 364px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/mainMob@2x.jpg);
  }
}

@media screen and (min-width: (768px - 0.02)) {
  .header {
    background-image: linear-gradient(180deg,
        rgba(13, 13, 13, 0) 0%,
        rgba(14, 14, 14, 0.8) 100%),
      url(../images/main-tabl@1x.jpg);
  }
}

@media screen and (min-width: (768px - 0.02)) and (min-device-pixel-ratio: 2),
screen and (min-width: (768px - 0.02)) and (min-resolution: 192dpi),
screen and (min-width: (768px - 0.02)) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/main-tabl@2x.jpg);
  }
}

@media screen and (min-width: (1280px - 0.02)) {
  .header {
    background-image: linear-gradient(180deg,
        rgba(13, 13, 13, 0.19) 0%,
        rgba(14, 14, 14, 0.8) 100%),
      url(../images/main-desk@1x.jpg);
  }
}

@media screen and (min-width: (1280px - 0.02)) and (min-device-pixel-ratio: 2),
screen and (min-width: (1280px - 0.02)) and (min-resolution: 192dpi),
screen and (min-width: (1280px - 0.02)) and (min-resolution: 2dppx) {
  .header {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/main-desk@2x.jpg);
  }
}

.container {
  width: 100%;
  max-width: 280px;

  @media screen and (min-width: (768px - 0.02)) {
    max-width: 704px;
  }

  @media screen and (min-width: (1280px - 0.02)) {
    max-width: 1248px;
  }
}

.header-box {
  padding-bottom: 112px;
  width: 100%;

  @media screen and (min-width: (768px - 0.02)) {
    padding-bottom: 183px;
  }

  @media screen and (min-width: (1280px - 0.02)) {
    padding-bottom: 192px;
  }
}


.header-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  width: 212px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #dc56c5;

  @media screen and (min-width: (768px - 0.02)) {
    margin-bottom: 27px;
    font-size: 30px;
    line-height: 37px;
    width: 353px;
    height: 74px;
  }

  @media screen and (min-width: (1280px - 0.02)) {
    margin-bottom: 52px;
    font-size: 50px;
    line-height: 61px;
    width: 650px;
    height: 122px;
  }
}

.post {
  max-width: 100%;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: (768px - 0.02)) {
    display: flex;
    justify-content: center;
    width: 704px;
  }
}

.form {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: (768px - 0.02)) {
    flex-direction: row;
    gap: 32px;
  }
}

.form-search {
  position: relative;
  max-width: 280px;
  width: 100%;

  @media screen and (min-width: (768px - 0.02)) {
    width: 366px;
  }

  @media screen and (min-width: (1280px - 0.02)) {
    width: 288px;
  }
}

.input {
  max-width: 280px;
  width: 100%;
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: (768px - 0.02)) {
    width: 366px;
  }

  @media screen and (min-width: (1280px - 0.02)) {
    width: 288px;
  }
}

.input:hover,
.input:focus {
  border-color: #ffffff;
}

.button-header-countru {
  fill: #939393;
}

.input::placeholder {
  color: #939393;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover::placeholder {
  color: black;
}

.country-search {
  position: relative;
}

.country-option {
  color: #939393;
}

.button-header {
  position: absolute;
  width: 50px;
  height: 40px;
  top: -80%;
  right: 15px;
  background-color: transparent;
  border-color: transparent;

  @media screen and (min-width: (768px - 0.02)) {
    top: 0;
    right: 0;
  }
}

.header-icon-search {
  fill: #939393;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-header:hover .header-icon-search {
  fill: #ffffff;
}

.button-header-countru {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 10px;
  right: 32px;
}

.input-text {
  color: #ffffff;
}

.country-search {
  height: 40px;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.3;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  appearance: none;


  position: relative;
  z-index: 1000;
  max-width: 280px;
  width: 100%;

  @media screen and (min-width: (768px - 0.02)) {
    width: 366px;
  }

  @media screen and (min-width: (1280px - 0.02)) {
    width: 288px;
  }
}

div.choices__inner {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-color: transparent;
  min-height: 40px;
  max-height: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.choices__inner:hover {
  border-color: #ffffff;
}

div.choices__list--single {
  padding: 0;
}

div.choices__item{
color: #939393;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

div.choices__inner:hover div.choices__item {
  color: black;
}

div.is-open .choices__inner {
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  min-height: 40px;
  max-height: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

div.is-flipped.is-open .choices__inner {
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: none;
  min-height: 40px;
  max-height: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.country-search .choices[data-type*="select-one"] .choices__input {
  background-color: rgba(255, 255, 255, 0.644);
  backdrop-filter: blur(10px);
  border-bottom: 0;
}

div.choices__placeholder {
  opacity: 1;
}

div.choices::after {
  display: none;
}

.choices__placeholder {
  color: #939393;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: Montserrat;
}

div.choices__list--dropdown {
  border-bottom-left-radius: 20;
  border-bottom-right-radius: 20;
}

div.is-open .choices__list--dropdown {
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

div.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  display: none;
}

div.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  ;
}

#choices--default-item-choice-1 {
  display: none;
}