.modal__backdrop.hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);

  backdrop-filter: blur(1.5px);
  opacity: 1;
  // // transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  z-index: 2000;
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.modal__backdrop.hidden .modal__window {
  transform: translate(-50%, -50%) scale(0.3);
}

// .modal {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%) scale(1);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   padding: 20px 0;
// }

// .modal__container {
//   position: fixed;
//   top: 0;
//   left: 0;
// }

.modal__window {
  position: absolute;

  top: 50%;
  left: 50%;
  @media screen and (max-width: 480px) {
    width: calc(100% - 40px);
  }
  width: 440px;

  padding-top: 80px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 150px 0;
  background-color: var(--secondary-bg-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--cubic);

  text-align: center;

  @media screen and (min-width: 768px) {
    width: 704px;
    padding-top: 32px;
    padding-bottom: 48px;
    padding-left: 87px;
    padding-right: 49px;
    border-radius: 300px 0;
    text-align: start;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 74px;
    padding-right: 74px;
    border-radius: 300px 0;
  }
}

.modal-btn__close {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;

  width: 17px;
  height: 17px;

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }

  cursor: pointer;
  background-color: transparent;
  border: none;
}

.modal-btn__close-icon {
  fill: var(--button-color);
  transition: fill 250ms var(--cubic);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__img-small {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;

  border-radius: 50%;
  background-color: var(--button-color);
  object-fit: cover;

  width: 102px;
  height: 102px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
  }
}

.modal__img-big {
  float: left;
  margin-right: 32px;
  background-color: var(--button-color);
  object-fit: cover;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 249px;
    height: 217px;
  }

  @media screen and (min-width: 1280px) {
    width: 427px;
    height: 326px;
  }
}

.modal__info-block {
  margin-bottom: 16px;
}

.modal__time-block {
  margin-bottom: 16px;

  @include mq(tab) {
    margin-bottom: 0px;
  }

  @include mq(desk) {
    margin-bottom: 16px;
  }
}

.modal__location-block {
  margin-bottom: 16px;

  @include mq(desk) {
    margin-bottom: 0px;
  }
}

.modal__name-block {
  margin-bottom: 16px;

  @include mq(desk) {
    margin-bottom: 20px;
  }
}

.modal__prices-block {
  margin-bottom: 24px;

  @include mq(tab) {
    margin-bottom: 60px;
  }
}

.modal__title {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--accent-color);
  @media screen and (min-width: 1280px) {
    margin-bottom: 7px;
    font-size: 24px;
  }
}

.modal__text {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 16px;
  line-height: 1.25;

  color: var(--secondary-txt-color);

  @media screen and (min-width: 1280px) {
    gap: 5px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.price-desc {
  text-transform: capitalize;
}

.price-row {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 13px;
  @include mq(tab) {
    justify-content: start;
    text-align: start;
  }
}
.price1 {
  margin-bottom: 16px;
  @include mq(tab) {
    margin-bottom: 0px;
  }
}

.modal__prices {
  @include mq(tab) {
    display: flex;
    gap: 42px;
  }
}

.modal__prices-icon {
  width: 24px;
  height: 17px;

  @media screen and (min-width: 1280px) {
    width: 29px;
    height: 19px;
  }
}

.modal__btn {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.modal__link-buy {
  display: inline-block;
  margin-top: 16px;
  padding: 10px 19px;
  color: var(--main-txt-color);
  background-color: var(--button-color);
  border: none;

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }

  &:hover,
  &:focus {
    background-color: #2e009a;
  }
}

.modal__btn-more {
  display: block;
  padding: 10px 15px;
  margin: 0 auto;
  color: var(--button-color);
  background-color: transparent;
  border: 1px solid var(--button-color);

  @media screen and (max-width: 767px) {
    padding: 10px 3px;
  }

  &:hover,
  &:focus {
    border-color: #dc56c5;
  }
}

.price1.hidden,
.price2.hidden {
  display: none;
}

.flex-container {
  @media screen and (min-width: 767px) {
    display: block;
  }

  @include mq(tab) {
    margin-top: 32px;
  }
  @media screen and (min-width: 1280px) {
    display: inline;
    flex-direction: column;
  }
}
.flex-icon {
  @media screen and (min-width: 767px) {
    flex-direction: row;
    gap: 0px;
    width: 250px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-desc {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
.desk {
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 32px;
  }
}
