.modal__backdrop.hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 13, 29, 0.6);

  backdrop-filter: blur(3px);
  opacity: 1;
  visibility: visible;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: auto;

  z-index: 2000;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px 0;
}

.modal__window {
  position: relative;
  width: 272px;
  height: 100%;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 104px;
  padding-left: 12px;
  padding-right: 17px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px 0;
  background-color: #fff2fd;

  text-align: center;

  // @media screen and (min-width: 480px) {

  // }
  @media screen and (min-width: 768px) {
    width: 595px;
    height: auto;
    padding-top: 28px;
    padding-bottom: 56px;
    padding-left: 50px;
    padding-right: 17px;
    border-radius: 300px 0;
  }
  @media screen and (min-width: 1280px) {
    width: 942px;
    height: 100%;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 300px 0;
  }
}

.modal-btn__close {
  position: absolute;
  top: 24px;
  right: 24px;

  padding: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  //   width: 17px;
  //   height: 17px;

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 25px;
    height: 25px;
  }

  cursor: pointer;
  background-color: transparent;
  color: #4c00fe;
  border: none;
}

.modal-btn__close-icon {
  fill: currentColor;
  transition: fill 250ms var(--cubic);
  &:hover,
  &:focus {
    fill: #dc56c5;
  }
}

.modal__img-small {
  margin-right: auto;
  margin-left: auto;

  border-radius: 50%;
  background-color: #4c00fe;
  object-fit: cover;

  margin-bottom: 20px;
  width: 102px;
  height: 102px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 132px;
  }
}

.modal__img-big {
  float: left;
  margin-right: 32px;
  background-color: #4c00fe;
  object-fit: cover;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 250px;
    height: 218px;
  }

  @media screen and (min-width: 1280px) {
    width: 427px;
    height: 326px;
  }
}

.modal__text-block {
  margin-bottom: 16px;
  @media screen and (min-width: 1280px) {
  }
}

.modal__title {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #dc56c5;

  @media screen and (min-width: 1280px) {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 1.2;
  }
}

.modal__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  line-height: 1.25;

  color: #0e0e0e;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.modal__info {
  max-height: 100px;
  overflow: auto;
  @media screen and (min-width: 1280px) {
    max-height: 90px;
  }
}

.modal__prices {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 60;
  }
}

.modal__prices-block {
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 4px;
    margin-bottom: 60px;
  }
}

.modal__prices-icon {
  margin-right: 13px;

  width: 24px;
  height: 16px;

  @media screen and (min-width: 1280px) {
    width: 29px;
    height: 19px;
  }
}

.modal__btn {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.modal__link-buy {
  display: inline-block;
  margin-top: 16px;
  padding: 9px 19px 11px;
  color: #ffffff;
  background-color: #4c00fe;
  border: none;

  @media screen and (min-width: 1280px) {
    margin-top: 20px;
  }

  &:hover,
  &:focus {
    background-color: #2e009a;
  }
}

.modal__btn-more {
  display: block;
  margin-top: 70px;
  padding: 10px 15px;
  margin: 0 auto;
  color: #4c00fe;
  background-color: transparent;
  border: 1px solid #4c00fe;

  @media screen and (max-width: 767px) {
    padding: 10px 3px;
  }

  &:hover,
  &:focus {
    border-color: #dc56c5;
  }
}

.event-line-text {
  font-size: 16px;
  line-height: 1.25;

  color: #0e0e0e;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.price1.hidden {
  display: none;
  text-transform: capitalize;
}
.price2.hidden {
  display: none;
  text-transform: capitalize;
}

.price1__type {
  text-transform: capitalize;
}

.flex-container {
  @media screen and (min-width: 767px) {
    color: #000;

    display: flex;
    flex-direction: column;
    width: 50%;
  }
  @media screen and (min-width: 1280px) {
    display: inline;
  }
}
.flex-icon {
  @media screen and (min-width: 767px) {
    flex-direction: row;
    gap: 0px;
    width: 250px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-desc {
  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
.desk {
  @media screen and (min-width: 1280px) {
    text-align: left;
    margin-top: 16px;
  }
}
